{{ define "main" }}
<style>
.microblog_user {
	font-size: larger;
}
.microblog_time {
	margin-bottom: 3em;
	margin-top: -1em;
}
	.rpgui-icon.sword {
    background-image: url(/img/icons/sword.png);
}
.rpgui-icon.shield {
    background-image: url(/img/icons/shield.png);
}
.rpgui-icon.potion-red {
    background-image: url(/img/icons/potion-red.png);
}
.rpgui-icon.potion-green {
    background-image: url(/img/icons/potion-green.png);
}
.rpgui-icon.potion-blue {
    background-image: url(/img/icons/potion-blue.png);
}
.rpgui-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.icon-menu {
	display:flex;
	flex-wrap:wrap; 
	margin-top: 1em;
}
.icon-menu p {
	margin-bottom: 0;
}
</style>
<div class="h-entry">
<section class="frame border-frame">

  <header>
	{{ if .Title }}
	  	<header><h4 class="p-name">{{ .Title }}</h4></header>
  	{{ end }}
    <header>
  </header>

  <article class="e-content">
	{{ .Content }}
  </article>
</section>

<footer><p style="text-align:center;">
    {{- if .Page.Params.Lastmod }}
    Most recent update on
    <time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
      {{ .Page.Params.Lastmod.Format "2 Jan 06" }}
    </time><br/>
    {{- end}}
    <a href="{{ .Permalink }}" class="u-url">First published on <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan 06" }}</time></a>
    &nbsp;<a style="display: none;" target="_blank" href="https://lillihub.com/post?edit={{ .Permalink }}&destination=https%3A%2F%2Fheyloura.micro.blog%2F&area=blog">✏️</a></p>
  </footer>
</div>
  {{ if templates.Exists "partials/microhook-categories.html" }}
  {{ partial "microhook-categories.html" . }}
  {{ else }}
  {{ if .Params.categories }}
  <aside class="backlinks">
    <ol class="toc-list h-feed" role="list" style="padding-left: 0;">
      <li>
        <span class="noA"><span class="title">Topics and tags<span class="leaders" aria-hidden="true"></span></span></span><span class="page"></span>
          <ol role="list">
            {{ range .Params.categories }} 
			{{ $href := print (absURL "categories/") (urlize (replace . "tags-" "")) }}
            <li>
              <a class="u-url" href="{{ $href }}">
                <span class="p-name title">{{ . }}<span class="leaders" aria-hidden="true"></span></span>
                <span class="page">
                </span>
              </a>
            </li>
            {{end}}
          </ol>
      </li>
    </ol>
  </aside>
  {{ end }}
  {{ end }}

  

<aside>
	{{ $permalinkurl := urls.Parse .Permalink }}
	{{ $relpermalink := .RelPermalink }}
	{{ $pages := slice }}
	{{- range .Site.Pages -}}
		{{- if strings.Contains .Content $relpermalink -}}
			{{ $pages = $pages | append . }}
		{{- end -}}
	{{- end -}}
	{{ with $pages }}
	<section class="backlinks">
	  <ol class="toc-list h-feed" role="list" style="padding-left: 0;">
		<li>
		  <span class="noA"><span class="title">Backlinks<span class="leaders" aria-hidden="true"></span></span></span><span class="page"></span>
			<ol role="list">
			  {{ range $pages }}
				{{ if .Title }}
				<li>
				  <a class="p-url" href="{{ .Permalink }}">
					<span class="p-name title">{{ .Title }}<span class="leaders" aria-hidden="true"></span></span>
					<span class="page">
					  {{- if .Page.Params.Lastmod }}
					  <time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
						{{ .Page.Params.Lastmod.Format "2 Jan 06" }}
					  </time>
					  {{- end}}
					</span>
				  </a>
				</li>
				{{- else}}
				<li>
				  <a class="p-url" href="{{ .Permalink }}">
					<span class="p-name title">{{ .Summary | truncate 150 }}<span class="leaders" aria-hidden="true"></span></span>
					<span class="page">
					  {{- if .Page.Params.Lastmod }}
					  <time class="dt-updated" datetime="{{ .Page.Params.Lastmod.Format "2006-01-02 15:04:05 -0700" }}">
						{{ .Page.Params.Lastmod.Format "2 Jan 06" }}
					  </time>
					  {{- end}}
					</span>
				  </a>
				</li>
				{{- end}}
			  {{end}}
			</ol>
		</li>
	  </ol>
	</section>
	{{ end }}
  </aside>
  
  {{ if templates.Exists "partials/microhook-before-comments.html" }}
  {{ partial "microhook-before-comments.html" . }}
  {{ end }}
 

    {{ $link_text := or $.Site.Params.conversation_on_mb_link_text "Reply on Micro.blog" }}
    {{ $fallback_url := print "https://micro.blog/" .Site.Author.username }}
    {{ $fallback_url = or $.Site.Params.conversation_on_mb_fallback_url $fallback_url }}
    {{ $fallback_link_text := or $.Site.Params.conversation_on_mb_fallback_link_text "Find me on Micro.blog" }}
<section id="conversation">
	 <h5>Join the conversation!</h5>
		<img style="display:block;margin: 0px auto;" width="562" height="19" src="/img/grass.png">

	<div class='frame golden-frame'>
		<div class="frame grey-frame">
			<div class='icon-menu'>
				<div class='rpgui-icon sword'></div>
				<p> Send along a <a href='https://indieweb.org/Webmention'>webmention</a></p>
			</div>
			<div class='icon-menu'>
				<div class='rpgui-icon shield'></div>
				<p> <a target='_blank' href='{{ $fallback_url }}' class='conversation-on-mb conversation-on-mb-fallback'>{{ $fallback_link_text }}</a> <span style='display:none;' class='conversation-on-lilli-show'>or on 🐸 <a target='_blank' href='#' class='conversation-on-lilli-link'>Lillihub</a></span></p>
			</div>
			<div class='icon-menu'>
				<div class='rpgui-icon potion-red'></div>
				<p> Follow <a target='_blank' href='https://micro.blog/heyloura?remote_follow=1' target='_blank'>@heyloura@heyloura.com</a></p>
			</div>
			<div class='icon-menu'>
				<div class='rpgui-icon potion-blue'></div>
				<p style='margin:0'>Like this post: <button style="display:inline-block;" class='golden-button tinylytics_kudos'></button></p>
			</div>
		</div>
	</div>
	<div id='conversation' style='margin-top: 2em;'>
		{{ if .Site.Params.include_conversation }}
		<script type='text/javascript' src='https://micro.blog/conversation.js?url={{ .Permalink }}'></script>
		{{ end }}
	</div>
	<script>
	// TODO: Temporary, will handle multiple instances in the future.
	const conversationLink = document.querySelector('.conversation-on-mb');
	const lillihubLink = document.querySelector('.conversation-on-lilli-link');
	const lillihub = document.querySelector('.conversation-on-lilli-show');
	const currentPageURLEncoded = encodeURIComponent('{{ .Permalink }}');
	fetch('https://micro.blog/conversation.js?format=jsonfeed&url=' + currentPageURLEncoded)
	.then(response => response.json())
	.then(conversation => {
	conversationLink.setAttribute('href', conversation.home_page_url);
	conversationLink.innerText = '{{ $link_text }}';
	conversationLink.classList.remove('conversation-on-mb-fallback');
	
	lillihubLink.setAttribute('href', 'https://lillihub.com/timeline/' + conversation.home_page_url.split('/').slice(-1));
	lillihub.style.display = 'inline-block';
	
	})
	.catch((error) => {
	// TODO: nothing for now…
	});
	</script>
</section>
{{ partial "game.html" . }}
{{ end }}
